a {
    color: green;
}

a[target] {
    color: red;
}

#second-div > p:nth-child(even) {
    color: red;
}

#second-div > p:nth-child(odd) {
    color: blue;
}

#first-div > p::after {
    content: "NEW";
    color: yellow;
}

body > p:nth-of-type(3):hover {
    font-style: italic;
}